:root {
    --title-size: 2rem;
}

.title {
    margin: 0 0 1.5rem 0;
    font-size: var(--title-size);
}

.blackboard-wrapper {
    word-wrap: break-word;
    position: relative;
    height: calc(100vh - var(--navbar-height) - 1rem - var(--title-size) - 1.5rem);
}

.blackboard-wrapper textarea {
    resize: none;
    width: 100%;
    /* Nav bar, nav padding, input height, input margin, bottom margin */
    height: calc(100vh - 55px - 15px - 40px - 1.5rem - 2rem);

    border: none;
    outline: none;
}

.blackboard-wrapper > .textarea {
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.blackboard-wrapper > .blackboard-preview {
    min-height: 200px;
    position: relative;
    margin-bottom: 2rem;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    padding: 5px;
    display: block;
}


.editing input.title,
.editing .blackboard-wrapper > .textarea,
.editing .blackboard-wrapper > .save,
.editing .blackboard-wrapper > .close {
    display: block !important;
}

input.title,
.editing h1.title,
.editing .edit,
.save, .close,
.editing .blackboard-wrapper > .blackboard-preview {
    display: none !important;
}


.edit, .save, .close {
    background: white;
    z-index: 1;
    padding: 5px;
    position: absolute;
}

.edit, .close {
    top: 0;
    right: 0;
}

.save {
    bottom: calc(2rem + 8px);
    right: 0;
}

.spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 3px solid #1e87f0;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin linear 1s infinite;


    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 25px);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


