:root {
    --title-size: 2rem;
}

.title {
    margin: 0 0 1.5rem 0;
    font-size: var(--title-size);
}

.blackboard-wrapper {
    position: relative;
    height: calc(100vh - var(--navbar-height) - 1rem - var(--title-size) - 1.5rem);
}

.blackboard-wrapper > textarea {
    resize: none;
    width: 100%;
    height: 80%;

    display: none;
}

.blackboard-wrapper > .blackboard-preview {
    min-height: 200px;

    background-color: rgba(240, 240, 240, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: block;
}

.blackboard-wrapper.editing > textarea {
    display: block;
}

.blackboard-wrapper.editing > .blackboard-preview {
    display: none;
}

.blackboard-wrapper.editing > .save {
    display: block !important;
}

.blackboard-wrapper:not(.editing) > .edit {
    display: block !important;
}

.edit, .save {
    padding: 5px;
    position: absolute;
    display: none !important;
}

.edit {
    top: 0;
    right: 0;
}

.save {
    bottom: 20%;
    right: 0;
}