:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

html, body {
    height: 100%;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 20px 0;
    font-weight: 300;
    color: #222;
    text-transform: none;
}


button {
    cursor: pointer;

    margin: 0;
    border-radius: 0;

    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color, background-color, border-color;
}

.default-btn {
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
}

.primary-btn {
    background-color: #1e87f0;
    color: #fff;
    border: none;
}

.error-btn {
    background-color: #f0506e;
    color: #fff;
    border: none;
}

.warn-btn {
    background-color: #faa05a;
    color: #fff;
    border: none;
}

.success-btn {
    background-color: #32d296;
    color: #fff;
    border: none;
}

.custom-input {
    border-radius: 0;
    padding: 0 10px;
    height: 40px;
    width: 100%;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: border .1s;
}

.custom-input:focus {
    border-color: #1e87f0;
}

.fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    display: inline-flex;
    align-items: center;

    cursor: pointer;

    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.fab > i {
    margin: auto;
}

.warn-icon {
    color: #f0506e;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 1rem;
    min-height: 100%;
    transition: margin-left .3s ease-in-out, margin-right .3s ease-in-out;
}

@media (min-width: 800px) {
    .container {
        margin: 0 5rem;
    }
}

.pointer, [routerLink] {
    cursor: pointer;
}

[routerLink] {
    transition: color .1s;
}

.full-height {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;
    padding-top: 1rem;
    position: fixed;
}

.search-overlay {
    z-index: 1;
    display: none;
    position: fixed;
    padding: 1rem;


    background: white;

    top: var(--navbar-height);
    bottom: 0;
    right: 0;
    width: calc(100vw - 2rem);
}

.none {
    display: none !important;
}

.top-right {
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: .5rem;
}