html, body {
    height: 100%;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 20px 0;
    font-weight: 300;
    color: #222;
    text-transform: none;
}



button {
    cursor: pointer;

    margin: 0;
    border-radius: 0;

    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: color, background-color, border-color;
}

.default-btn {
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
}


.text-center {
    text-align: center;
}

.container {
    margin: 0 1rem;
    min-height: 100%;
    transition: margin-left .3s ease-in-out, margin-right .3s ease-in-out;
}

@media (min-width: 800px) {
    .container {
        margin: 0 5rem;
    }
}

.warn {
    color: #f0506e;
}

.pointer, [routerLink] {
    cursor: pointer;
}

[routerLink]:hover {
    text-decoration: underline;
}

.full-height {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    overflow: auto;
    padding-top: 1rem;
}


