html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 5rem;
}

.warn {
    color: #e2757a;
}

.pointer, [routerLink] {
    cursor: pointer;
}

[routerLink]:hover {
    text-decoration: underline;
}

.full-height {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    position: fixed;
}


