html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}


.text-center {
    text-align: center;
}

.container {
    margin: 0 5rem;
}

.warn {
    color: #ea9397;
}

.pointer, [routerLink] {
    cursor: pointer;
}

[routerLink]:hover {
    text-decoration: underline;
}

.loading-indicator {
    background: white;
    display: none;
    position: fixed;
    width: 100vw;
    z-index: 5;
    top: var(--navbar-height);
    height: calc(100vw - var(--navbar-height));
}

body.loading .loading-indicator {
    display: block;
    overflow: hidden !important;
}
