.error, .error > * {
    color: #f0506e;
    background: #fef4f6;
}

.success, .success > * {
    color: #32d296;
    background: #edfbf6;
}

.warn, .warn > * {
    color: #faa05a;
    background: #fff6ee;
}

.primary, .primary > * {
    color: #1e87f0;
    background: #d8eafc;
}

#message-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    width: 400px;
    z-index: 1000;
    position: relative;

    margin-top: 20px;
    padding: 15px 29px 15px 15px;

    animation: fade-in .3s;
}

@media screen and (max-width: 500px) {
    .message {
        width: calc(100vw - 5rem);
    }
}

.message .close {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.message-body {
    border-radius: 12px;
    text-align: center;
}
