.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.43);
    z-index: 600;
}


.modal {
    background: white;
    width: 60vw;
    position: absolute;

    top: 50px;
    left: 50%;

    padding: 30px;

    transform: translateX(-50%);
}

@media (max-width: 800px ) {
    .modal {
        width: 80vw;
    }
}

.modal-body {
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
