:root {
    --navbar-height: 55px
}

.navigation-bar {
    overflow: hidden;
    background-color: #2395f2;
    height: var(--navbar-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;
    position: relative;
    color: white;
}

.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar input {
    height: 80%;
    width: 60%;

    outline: none;

    color: #666;
    background-color: white;
    border: none;
    font-size: 16px;

    float: right;
}


@media (min-width: 800px) {
    .navigation-bar input {
        width: 30%;
    }
}
