:root {
    --navbar-height: 55px
}

.navigation-bar {
    overflow: hidden;
    background-color: #2395f2;
    height: var(--navbar-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;
    position: relative;
    color: white;
}

.navigation-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-bar a {
    float: left;
    color: white !important;
    text-align: center;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: lighter;
    position: relative;
}

.navigation-bar a:not(.search-container):hover::before, .search-container:focus-within::before {
    right: 16px;
}

.navigation-bar a::before {
    content: '';
    display: block;
    position: absolute;
    left: 16px;
    right: calc(100% - 16px);
    bottom: 0;
    height: 1px;
    background-color: white;
    transition: .3s ease-in-out;
}

.navigation-bar input {
    height: 80%;
    width: 100%;

    outline: none;
    color: #e3e3e3;

    background-color: transparent;
    border: none;
    font-size: 16px;

    float: right;
}

.navigation-bar input:focus, .navigation-bar input:hover {
    color: white;
}

.navigation-bar input::-webkit-input-placeholder {
    color: #e3e3e3;
}

.navigation-bar input:focus::-webkit-input-placeholder, .navigation-bar input:hover::-webkit-input-placeholder {
    color: white;
}


.search-container {
    position: fixed !important;
    right: 0;
    height: calc(var(--navbar-height) / 2);
}

