.navigation-bar {
    overflow: hidden;
    background-color: #3f51b5;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-bar {
    background-color: #2c345e;
    color: white;
}

.navigation-bar input {
    height: 80%;
    float: right;
    width: 30%;
    border-bottom: 1px solid white;
    transition: border-bottom-width ease-in-out .2s;
}

.navigation-bar input:active, .navigation-bar input:focus {
    border-bottom: 2px solid white;
}


input {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
